$black: #525252;
$black-500: #2c1906;
$gold: #ccb69f;
$accent: #dda288;
$peach: #f9ece4;
$pink: #fef6f4;
$grey-text: #646e73;
$blue: #4c6492;

$transparent: rgba(0, 0, 0, 0);

$backdrop-color: rgba(44, 34, 32, 0.5);

$main-text-color: rgba(100, 110, 115, 0.7);

$light-text-color: #fff;
$hover-text-color: $black;

$primary-bg-color: #fff;
$dark-bg-color: $black-500;
$light-bg-color: #fff;
