.insta-block-slider {
  &__content {
    #wis-slides {
      display: flex;
    }
  }
  
}

.insta-block {
  @include media-breakpoint-up(sm) {
    padding-top: 60px;
  }
  .subtitle-decor {
    &_left {
      position: absolute;
      top: -65px;
      right: -20px;
    }
    &_right {
      position: absolute;
      top: -10px;
      right: 20px;

    }

  }
  .position-relative {
    position: relative;
  }
  .primary-link {
    @include media-breakpoint-down(md) {
      @include font-size(2rem);

    }
  }
 
}
