.insta-block-slider {
  width: calc(100vw - 400px);
  @include media-breakpoint-down(xl) {
    width: calc(100vw - 50px);
  }
  &__content {
    #wis-slides {
      display: flex;

      .slick-slide {
        margin-right: 15px;
      }
    }
  }
  
}
.insta-block {
  &__title {
    position: relative;
    width: 66%;
    margin-left: 16.5%;
    @include media-breakpoint-down(md) {
      width: 80%;
    }
    @include media-breakpoint-down(sm) {
     width: 100%;
     margin-right: auto;
     margin-left: 0;
     a {
       display: block;
     }
    }
    .subtitle-decor {
      position: absolute;
      top: -70px;
      left: -24%;
        @include media-breakpoint-down(sm) {
          top: -10px;
          left: auto;
          right: 0;
        }
    }
  }
}
