<div class="page__item-gap">
  <div class="insta-block">
    <div class="container">
      <div class="insta-block__wrap">
          <div class="insta-block__title">
            <span class="subtitle-decor">happiness</span>
            <span class="section-title">Instagram <a href="#" class="primary-link">@makingmemories</a> </span>
          </div>
      </div>

      <div class="insta-block-slider">

        <div class="insta-block-slider__content">
          plugin slides ...
        </div>

        <div class="insta-block-slider__controls">
          
        </div>
      </div>
    </div>
  </div>
  <!-- /.insta-block -->
</div>
<!-- /.page__item-gap -->