<div class="page__item-gap">
  <div class="insta-block">
    <div class="container">
      <div class="row mb-5">
        <div class="col-5 txt-right">
          <span class="subtitle-decor">happiness</span>
        </div>
        <div class="col-8 mt-n1 ms-auto">
          <span class="section-title">INSTAGRAM <a href="#" class="primary-link">@makingmemories</a> </span>
        </div>
      </div>

      <div class="insta-block-slider">

        <div class="insta-block-slider__content">
          plugin slides ...
        </div>

        <div class="insta-block-slider__controls">
          
        </div>
      </div>
    </div>
  </div>
  <!-- /.insta-block -->
</div>
<!-- /.page__item-gap -->