.kindwords-hero {

    background: #FEF6F4;
    padding: 80px 0;

    // .kindwords-hero__row

    &__row {}

    // .kindwords-hero__images

    &__images {
        position: relative;
    }

    // .kindwords-hero__image--1

    &__image--1 {}

    // .kindwords-hero__image--2

    &__image--2 {
        position: absolute;
        transform: translate(330px, 230px);

        @include media-breakpoint-down(sm) {
            display: none;
        }
    }

    // .kindwords-hero__contet

    &__contet {}

    // .kindwords-hero__title

    &__title {}

    // .kindwords-hero__text

    &__text {}
}


.kindwords-slider {

    position: relative;

    // .kindwords-slider__card

    &__card {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 35px 0px 35px 0px;
    }

    // .kindwords-slider__content

    &__content {
        max-width: 880px;
        margin: 0 auto;
    }

    // .kindwords-slider__text

    &__text {}

    // .kindwords-slider__title

    &__title {
        @extend .section-title;
        color: rgba($color: #646e73, $alpha: 0.7);
    }

    // .kindwords-slider__btn

    &__btn {}
}


.js-kindwords-slider {}

.kindwords-carousel-controls {
    display: flex;
    justify-content: space-around;
    align-items: center;

    position: absolute;
    width: 100%;

    transform: translateY(-230px);

    // .kindwords-carousel-controls__btn
    &__btn {}
}