.kindwords-hero {

    

    // .kindwords-hero__container

    &__container{
        background: #FEF6F4;
        padding-bottom: 120px;
        @include media-breakpoint-down(lg){
            padding-bottom: 160px;
        }
    }

    // .kindwords-hero__row

    &__row {}

    // .kindwords-hero__images

    &__images {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        @include media-breakpoint-down(lg){
            order: 2;
        }
    }

    // .kindwords-hero__image--1

    &__image--1 {
        @include media-breakpoint-down(sm){
            width: 100%;
        }
    }

    // .kindwords-hero__image--2

    &__image--2 {
        position: absolute;
        transform: translate(150px, 185px);
        @include media-breakpoint-down(sm){
            width: 60%;
            transform: translate(25%, 75%);
        }
    }

    // .kindwords-hero__content

    &__content {}

    // .kindwords-hero__title

    &__title {}

    // .kindwords-hero__text

    &__text {}
}


.kindwords-slider {

    position: relative;

    // .kindwords-slider__card

    &__card {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 35px 0px 35px 0px;
    }

    // .kindwords-slider__content

    &__content {
        max-width: 880px;
        margin: 0 auto;
        text-align: center;
    }

    // .kindwords-slider__text

    &__text {
    }

    // .kindwords-slider__title

    &__title {
        @extend .section-title;
        color: rgba($color: #646e73, $alpha: 0.7);
    }

    // .kindwords-slider__btn

    &__btn {}
}

.card-kindwords-slider{

    // .card-kindwords-slider__image
    &__image{
        @include media-breakpoint-down(md){
            width: 180px;
        }
    }
}

.js-kindwords-slider {}

.kindwords-carousel-controls {
    display: flex;
    justify-content: space-around;

    @include media-breakpoint-down(md) {
        transform: translateY(-170px);
        justify-content: space-between;
    }

    align-items: center;

    position: absolute;
    width: 100%;

    transform: translateY(-230px);

    // .kindwords-carousel-controls__btn
    &__btn {}
}


.kindwords-info{

    // .kindwords-info__text
    &__text{
        column-count: 2;
        @include media-breakpoint-down(md){
            column-count: 1;
        }
    }

    // .kindwords-info__image
    &__image{
        border-radius: 0 0 118.5px 0;
    }

    // .kindwords-info__image
    &__decor-slogan{
        transform: translate(20%, 20%) !important;
        z-index: -1;
    }

}
