.header {
  padding: rem(20) 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
  @include media-breakpoint-down(sm) {
    padding: rem(10) 0;
  }

  &__burger {
    @media screen and (min-width: 950.99px) {
      display: none !important;
    }
  }

  &__menu {
    @media screen and (max-width: 950.99px) {
      display: none !important;
    }
  }
  &-logo {
    margin-bottom: 1.25rem;
    @media screen and (max-width: 950.99px) {
      margin-bottom: 0;
    }
  }
  &-social {
    display: none !important;
    
  }
  &__container {
    display: block;
    margin: 0 auto;
    max-width: 670px;
    text-align: center;
    @media screen and (max-width: 950.99px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
  }
  &-tel {
    display: none;
    @media screen and (max-width: 950.99px) {
      display: block;
    }
  }
}

