<div class="page__item-gap">
  <div class="banner banner-pink-bg">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-xl-6 txt-center mb-3 mb-md-4">
        <p class="banner-title mb-0">We are photographers and believe that love is life's greatest adventure</p>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <a href="#" class="btn btn-primary btn-outline-mob">lern about us</a>
      </div>
    </div>
  </div>
</div>
<!-- /.page__item-gap -->