.faq {
  padding: 50px 0;
  // .faq__header
  background-color: $pink;
  &__header {
    margin-bottom: 40px;
  }

  // .faq__content

  &__actions {
    margin-top: 50px;

    @include media-breakpoint-down(sm) {
      margin-top: 30px;
    }
  }
}

.faq-accordion {
  font-family: "Poppins", serif;
  font-size: rem(14);

  @include media-breakpoint-down(sm) {
    font-size: rem(12);
  }
}
.faq-accordion-item {
  padding: 30px 0;

  border-top: 1px solid rgba($grey-text, 0.5);

  &:last-child {
    border-bottom: 1px solid rgba($grey-text, 0.5);
  }
}

.faq-accordion-button {
  @include button-reset();
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-align: left;
  font-family: "Poppins", serif;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 400;
  color: $grey-text;

  @include media-breakpoint-down(sm) {
    font-size: 14px;
  }

  &:focus {
    outline: none;
  }

  &::after {
    margin-left: 34px;
    content: "";
    display: block;
    width: 22px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/ic-minus.svg");

    @include media-breakpoint-down(sm) {
      height: 20px;
    }
  }

  &.collapsed {
    &::after {
      background-image: url("../img/ic-plus.svg");
    }
  }
}

.faq-accordion-body {
  padding-top: 20px;
}
