<!DOCTYPE html>
<html lang="en">
  @@include("../blocks/modules/head/head.html")
  <body>
    @@include("../blocks/modules/header/header.html")

    <main class="page page-404">
      <div class="page__item-gap">
      <div class="container page-404--bg">
        <div class="row justify-content-center mb-5 mt-5 pt-5">
          <div class="col-10 col-md-7">
            <div class="flex-column">
              <h1 class="main-title main-title--xl main-title--pink">404</h1>
              <span
                class="
                  subtitle-decor subtitle-decor--xl
                  ms-auto
                  mt-n5
                  mb-n3 mb-md-2
                "
                >sorry</span
              >
            </div>
          </div>
        </div>
        <div class="row justify-content-center  mb-3 mb-md-5 pb-4">
          <div class="col-md-8">
            <div class="section-title txt-center">
              the page you are looking for was not found
            </div>
            </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-auto">
              <a href="/" class="btn btn-outline">back to home page</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    </main>

    @@include("../blocks/modules/footer/footer.html")

    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>
  </body>
</html>
