<!DOCTYPE html>
<html lang="en">
  @@include("../blocks/modules/head/head.html")
  <body>
    @@include("../blocks/modules/header/header.html")

    <nav class="breadcrumb mb-4">
      <div class="container">
        <div class="breadcrumb__wrap">
          <a class="breadcrumb-item link" href="/">Main</a>
          <span class="slash">/</span>
          <a class="breadcrumb-item link" href="/blog.html">Blog</a>
          <span class="slash">/</span>
          <a class="breadcrumb-item link" href="#">Album</a>
        </div>
      </div>
    </nav>

    <main class="page page-album">
      <div class="album">
        <div class="album-main page-album__banner">
          <img
            src="./img/album/video-main.jpeg"
            alt=""
            class="album-main__img"
          />
        </div>

        <div class="container">
          <div class="album-block">
            <div class="section-title tt-uppercase">Highlights</div>
            <div class="section-title section-title_gold tt-uppercase">
              abigaile + fredericco
            </div>
            <div class="album-block__subtitle">05•30•2021</div>
            <div class="album-block__descr">
              We’re less about frills, perfection, or about the way two people
              in love should look or act. We’re about how that love actually
              feels. The real stuff, the in-betweens. Whatever it is that makes
              you two, you. We’re less about frills, perfection, or about the
              way two people in love should look or act. We’re about how that
              love actually feels. The real stuff, the in-betweens. Whatever it
              is that makes you two, you.
            </div>

            <div
              class="video video-banner inline-bg mb-3 mb-md-4"
              style="background-image: url(./img/album/video-bg.png)"
            >
              <a
                data-fancybox
                href="https://vimeo.com/407688388"
                class="video__btn"
              >
                <span class="video-banner-btn">
                  <svg class="video-banner-btn__ic">
                    <use
                      xlink:href="./img/svg/sprite.svg#ic-arrow-right-primary"
                    />
                  </svg>
                </span>
                <!-- /.video-banner-btn -->
              </a>
            </div>

            <div class="album-block__descr">
              We’re less about frills, perfection, or about the way two people
              in love should look or act. We’re about how that love actually
              feels. The real stuff, the in-betweens. Whatever it is that makes
              you two, you. We’re less about frills, perfection, or about the
              way two people in love should look or act. We’re about how that
              love actually feels. The real stuff, the in-betweens. Whatever it
              is that makes you two, you.
            </div>
            <div
              class="
                album-block__subtitle album-block__subtitle_thin
                d-none d-md-block
              "
            >
              SEE MORE OF THIS BOHO WEDDING AT FLORA FARMS IN CABO BELOW
            </div>
          </div>

          <div class="page__item-gap">
            <div class="section-title tt-uppercase">Wedding Film</div>
            <div class="section-title section-title_gold tt-uppercase">
              abigaile & fredericco
            </div>
            <div
              class="video video-banner inline-bg mb-3 mb-md-4 mt-md-5 mt-3"
              style="background-image: url(./img/album/video-bg2.png)"
            >
              <a
                data-fancybox
                href="https://vimeo.com/407688388"
                class="video__btn"
              >
                <span class="video-banner-btn">
                  <svg class="video-banner-btn__ic">
                    <use
                      xlink:href="./img/svg/sprite.svg#ic-arrow-right-primary"
                    />
                  </svg>
                </span>
                <!-- /.video-banner-btn -->
              </a>
            </div>
          </div>
        </div>
      </div>
    </main>

    @@include("../blocks/modules/footer/footer.html")

    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>
  </body>
</html>
