<!DOCTYPE html>
<html lang="en">
  @@include("../blocks/modules/head/head.html")
  <body>
    @@include("../blocks/modules/header/header.html")

    <nav class="breadcrumb mb-4">
      <div class="container">
          <div class="breadcrumb__wrap">
          <a class="breadcrumb-item link" href="/">Main</a> <span class="slash">/</span>
          <a class="breadcrumb-item link" href="#">Blog</a>
          </div>
      </div>
    </nav>

    <main class="page article">
        <div class="page__item-gap page__item-gap-md-pink">
            <div class="container">
                <div class="row article-bg">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="article-main">
                            <div class="article-main__text">
                                <div class="article-main__date"> Sep 13, 2021</div>
                                <div class="article-main__title">
                                    the best places for your wedding
                                </div>
                                <div class="article-main__descr">
                                    <p>If you are just preparing for your wedding and first of all decided to find a photographer, congratulations — you’ve come to the right place! During the consultation, our specialists will guide you in the right direction, help you plan a wedding route, determine the style of shooting, choose a place for a photo session and props. We provide competent recommendations and professional approach to business.</p>
                                    <p>If you are just preparing for your wedding and first of all decided to find a photographer, congratulations — you’ve come to the right place! </p>
                                </div>
                            </div>
                            <div class="article-main__img">
                                <img src="../img/article/main.jpeg" alt="the best places for your wedding">
                                @@include('../blocks/components/decor-slogan/decor-slogan.html', {"size": "lg"})
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page__item-gap">
            <div class="container">
                <div class="article-about">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1">
                            <div class="article-about__title">
                                <span class="section-title tt-uppercase">the best places for your wedding </span>
                                <span class="subtitle-decor">memories</span>
                            </div>
                           
                            <div class="article-about__text">
                                <p>If you are just preparing for your wedding and first of all decided to find a photographer, congratulations — you’ve come to the right place! During the consultation, our specialists will guide you in the right direction, help you plan a wedding route, determine the style of shooting, choose a place for a photo session and props. We provide competent recommendations and professional approach to business.</p>
                                <p>If you are just preparing for your wedding and first of all decided to find a photographer, congratulations — you’ve come to the right place! During the consultation, our specialists will guide you in the right direction, help you plan a wedding route, determine the style of shooting, choose a place for a photo session and props. We provide competent recommendations and <a href="#">professional approach to business</a> .</p>
                                <p>If you are just preparing for your wedding and first of all decided to find a photographer, congratulations — you’ve come to the right place! During the consultation, our specialists will guide you in the right direction, help you plan a wedding route, determine the style of shooting, choose a place for a photo session and props. We provide competent recommendations and professional approach to business.</p>
                            </div>

                            <div class="article-about__img-wrap">
                                @@include('../blocks/components/decor-slogan/decor-slogan.html', {"size": "lg"})
                                <img src="../img/article/about-1.jpeg" alt="" class="article-about__img d-none d-md-block">
                                <div class="article-about__picture">
                                    <img src="../img/article/about-2.jpeg" alt="" class="article-about__img">
                                    <img src="../img/article/about-3.jpeg" alt="" class="article-about__img-oval">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="page__item-gap page__item-gap-md-pink">
            <div class="container">
                <div class="row article-bg">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="article-info">
                            <div class="article-info__img">
                                <img src="../img/article/info.jpeg" alt="">
                            </div>
                            <div class="article-info__text">
                                <h2 class="article-info__title section-title ">
                                    the best places for your wedding
                                </h2>
                                <div class="article-info__descr">
                                    <p>If you are just preparing for your wedding and first of all decided to find a photographer, congratulations — you’ve come to the right place.</p>
                                    <p>If you are just preparing for your wedding and first of all decided to find a photographer, congratulations — you’ve come to the right place! During the consultation, our specialists will guide you in the right direction, help you plan a wedding route, determine the style of shooting, choose a place for a photo session and props. We provide competent recommendations and professional approach to business.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page__item-gap">
            <div class="container">
                <div class="article-list">
                    <div class="article-list__title section-title">the best places for your wedding</div>
                    <ul>
                        <li>
                            uniform grids. We provide competent recommendations and professional approach to business.
                        </li>
                        <li>dynamic grids We provide competent recommendations and professional approach to business.</li>
                        <li>Most likely everyone has heard of the standard 12-column grid We provide competent recommendations and professional approach to business.</li>
                        <li>Such nets are more suitable for beginners, as they are kept in some rigid framework and taught to order.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="page__item-gap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-11 offset-lg-1">
                        <div class="article-quote">
                            <div class="article-quote__picture">
                                <img src="../img/article/about-2.jpeg" alt="" class="article-quote__img">
                                <img src="../img/article/about-3.jpeg" alt="" class="article-quote__img-oval">
                            </div>
                            <blockquote class="article-quote__text">
                                    it is between the cushioned atmosphere of a hotel particulier and the baroque lights a cabaret
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page__item-gap">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <div class="article-place">
                            <div class="article-place__title section-title">
                                the best places for your wedding
                            </div>
                            <div class="article-place__subtitle section-title">The best places for your wedding:</div>
                            <ol>
                                <li>Justification — <span>is a way of aligning text within a text block.</span></li>
                                <li>Alignment  — <span>alignment of an already prepared text block or other elements relative to the layout.</span></li>
                                <li>Alignment  — <span>alignment of an already prepared text block or other elements relative to the layout.</span></li>
                            </ol>
                            @@include('../blocks/components/decor-slogan/decor-slogan.html', {"size": "lg"})                            
                            <span class="subtitle-decor">wedding</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page__item-gap">
            <div class="container">
                <img class="article-img" src="../img/article/img.jpeg" alt="">
            </div>
        </div>

        <div class="page__item-gap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="article-table">
                            <h3 class="article-table__title section-title">
                                the best places for your wedding
                            </h3>
                            <div class="article-table__descr">
                                <p>If you are just preparing for your wedding and first of all decided to find a photographer, congratulations — you’ve come to the right place! During the consultation, our specialists will guide you in the right direction, help you plan a wedding route, determine the style of shooting, choose a place for a photo session and props. We provide competent recommendations and professional approach to business.</p>
                                <p>If you are just preparing for your wedding and first of all decided to find a photographer, congratulations — you’ve come to the right place! </p>
                            </div>
                            <div class="article-table__main"><table>
                                <thead>
                                    <tr>
                                        <td>№1</td>
                                        <td>№2</td>
                                        <td>№3</td>
                                    </tr>
                                </thead>
                                <tr>
                                    <td>detailed response</td>
                                    <td>detailed response</td>
                                    <td>detailed response</td>
                                </tr>
                                <tr>
                                    <td>detailed response</td>
                                    <td>detailed response</td>
                                    <td>detailed response</td>
                                </tr>
                                <tr>
                                    <td>detailed response</td>
                                    <td>detailed response</td>
                                    <td>detailed response</td>
                                </tr>
                            </table></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    @@include("../blocks/modules/footer/footer.html")

    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>
  </body>
</html>
