<!DOCTYPE html>
<html lang="en">
  @@include("../blocks/modules/head/head.html")
  <body>
    @@include("../blocks/modules/header/header.html")

    <main class="page">
      <div class="container">
        <nav class="breadcrumb my-4">
          <a class="breadcrumb-item link" href="#">Main</a> <span class="slash">/</span>
          <a class="breadcrumb-item link" href="#">Blog</a> 
        </nav>


        <div class="row justify-content-center mb-4">
          <div class="col-6 col-sm-7 col-md-5 col-lg-4">
            <div class="flex-column">
              <h1 class="main-title main-title--md">Our blog</h1>
              <span class="subtitle-decor ms-auto mt-n4 mt-sm-n5 mb-n3 mb-md-2"
                >wedding</span
              >
            </div>
          </div>
        </div>

        <div class="page__item-gap">
          <div class="row">
            <div class="col-12">
              <div class="blog">
                <a class="blog__item" href="#">
                  <img class="blog__img" src="../img/blog/new-blog-1.png" alt="">
                  <div class="blog__date">Mai 30 2021</div>
                  <div class="blog__title"><span>The best places for your wedding</span></div>
                </a>
                <a class="blog__item" href="#">
                  <img class="blog__img" src="../img/blog/new-blog-2.png" alt="">
                  <div class="blog__date">Mai 30 2021</div>
                  <div class="blog__title"><span>The best places for your wedding</span></div>
                </a>
                <a class="blog__item" href="#">
                  <img  class="blog__img" src="../img/blog/new-blog-3.png" alt="">
                  <div class="blog__date">Mai 30 2021</div>
                  <div class="blog__title"><span>The best places for your wedding</span></div>
                </a>
                <a class="blog__item" href="#">
                  <img class="blog__img" src="../img/blog/new-blog-4.png" alt="">
                  <div class="blog__date">Mai 30 2021</div>
                  <div class="blog__title"><span>The best places for your wedding</span></div>
                </a>
                <a class="blog__item" href="#">
                  <img class="blog__img" src="../img/blog/new-blog-5.png" alt="">
                  <div class="blog__date">Mai 30 2021</div>
                  <div class="blog__title"><span>The best places for your wedding</span></div>
                </a>
                <a class="blog__item" href="#">
                  <img class="blog__img" src="../img/blog/new-blog-6.png" alt="">
                  <div class="blog__date">Mai 30 2021</div>
                  <div class="blog__title"><span>The best places for your wedding</span></div>
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <nav class="navigation pagination pagination_blog" role="navigation">
                <div class="nav-links">
                  <span class="page-numbers prev current">
                    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12" fill="none">
                       <path d="M.5 1l5 5-5 5" stroke="#dda288" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg></span>
                  <span class="page-numbers current"> 1</span>
                  <a class="page-numbers" href="http://localhost:4000/blog.html/page/2/">2</a>
                  <a class="page-numbers" href="http://localhost:4000/blog.html/page/3/">3</a>
                  <a class="page-numbers next" href="http://localhost:4000/blog.html/page/2/">
                    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12" fill="none">
                      <path d="M.5 1l5 5-5 5" stroke="#dda288" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg></a>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </main>

    @@include("../blocks/modules/footer/footer.html")

    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>
  </body>
</html>
