<!DOCTYPE html>
<html lang="en">
  @@include("../blocks/modules/head/head.html")
  <body>
    @@include("../blocks/modules/header/header.html")

    <main class="page">
      <div class="container">
       <div class="row">
         <div class="col-lg-6 col-md-7 col-10 ms-auto me-auto">
          <div class="d-flex align-items-center my-4">
            <nav class="breadcrumb">
              <a class="breadcrumb-item link" href="#">Main</a> <span class="slash">/</span>
              <a class="breadcrumb-item link" href="#">Blog</a> <span class="slash">/</span>
              <span class="breadcrumb-item link active">Album</span>
            </nav>
          </div>
         </div>
       </div>

        <div class="row justify-content-center mb-4">
          <div class="col-6 col-md-5 col-lg-4">
            <div class="flex-column">
              <h1 class="main-title main-title--md">Our blog</h1>
              <span class="subtitle-decor ms-auto mt-n4 mt-sm-n5 mb-n3 mb-md-2"
                >wedding</span
              >
            </div>
          </div>
        </div>

        <div class="page__item-gap">
          <div class="row">
            <div class="col-12">
              <div class="blog__list">
                <a class="blog__item" href="#">
                  <div class="blog__date">Mai 30 2021</div>
                  <div class="blog__title"><span>The best places for your wedding</span></div>
                  <div class="blog-hover">
                    <span href="#" class="blog-hover__link">Read</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="none" stroke="#dda288" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" xmlns:v="https://vecta.io/nano"><path d="M24.5 1.5l-23 23"/><path d="M5.333 1.5H24.5v19.167"/></svg>
                    <img class="blog-hover__img" src="../img/blog/blog-new.png" alt="Blog">
                  </div>
                </a>
                <a class="blog__item" href="#">
                  <div class="blog__date">Mai 30 2021</div>
                  <div class="blog__title"><span>The best places for your wedding</span></div>
                  <div class="blog-hover">
                    <span href="#" class="blog-hover__link">Read</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="none" stroke="#dda288" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" xmlns:v="https://vecta.io/nano"><path d="M24.5 1.5l-23 23"/><path d="M5.333 1.5H24.5v19.167"/></svg>
                    <img class="blog-hover__img" src="../img/blog/blog-new.png" alt="Blog">
                  </div>
                </a>
                <a class="blog__item" href="#">
                  <div class="blog__date">Mai 30 2021</div>
                  <div class="blog__title"><span>The best places for your wedding</span></div>
                  <div class="blog-hover">
                    <span href="#" class="blog-hover__link">Read</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="none" stroke="#dda288" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" xmlns:v="https://vecta.io/nano"><path d="M24.5 1.5l-23 23"/><path d="M5.333 1.5H24.5v19.167"/></svg>
                    <img class="blog-hover__img" src="../img/blog/blog-new.png" alt="Blog">
                  </div>
                </a>
                <a class="blog__item" href="#">
                  <div class="blog__date">Mai 30 2021</div>
                  <div class="blog__title"><span>The best places for your wedding</span></span></div>
                  <div class="blog-hover">
                    <span href="#" class="blog-hover__link">Read</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="none" stroke="#dda288" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" xmlns:v="https://vecta.io/nano"><path d="M24.5 1.5l-23 23"/><path d="M5.333 1.5H24.5v19.167"/></svg>
                    <img class="blog-hover__img" src="../img/blog/blog-new.png" alt="Blog">
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <nav class="navigation pagination pagination_blog" role="navigation">
                <div class="nav-links">
                  <span class="page-numbers prev current">
                    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12" fill="none">
                       <path d="M.5 1l5 5-5 5" stroke="#dda288" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg></span>
                  <span class="page-numbers current"> 1</span>
                  <a class="page-numbers" href="http://localhost:4000/blog.html/page/2/">2</a>
                  <a class="page-numbers" href="http://localhost:4000/blog.html/page/3/">3</a>
                  <a class="page-numbers next" href="http://localhost:4000/blog.html/page/2/">
                    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12" fill="none">
                      <path d="M.5 1l5 5-5 5" stroke="#dda288" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg></a>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </main>

    @@include("../blocks/modules/footer/footer.html")

    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>
  </body>
</html>
