<!DOCTYPE html>
<html lang="en">
  @@include("../blocks/modules/head/head.html")
  <body>
    @@include("../blocks/modules/header/header.html")

    <main class="page">
      <div class="container">
        <div class="row justify-content-center mb-4">
          <div class="col-12 col-md-6 mt-5">
            <div class="flex-column">
              <h1 class="main-title main-title--md">recent stories</h1>
              <span class="subtitle-decor ms-auto mt-n4 mt-sm-n5 mb-n3 mb-md-2"
                >wedding</span
              >
            </div>
          </div>
        </div>
        <div class="page__item-gap">
          <div class="tabs">
            <div class="tabs-nav mb-4 pb-3">
              <div class="row justify-content-center">
                <div class="col-12 col-md-4 d-flex justify-content-center">
                  <button
                    type="button"
                    data-tab="0"
                    class="js-tab-btn tabs-nav-btn tabs-nav-btn--active"
                  >
                    Photo
                  </button>
                  <button
                    type="button"
                    data-tab="1"
                    class="js-tab-btn tabs-nav-btn"
                  >
                    video
                  </button>
                </div>
              </div>
              <!-- /.row -->
            </div>
            <!-- /.tabs-nav -->
            <div class="tabs-content">
              <div class="gallery">
                <div class="row">
                  <div class="col-6 col-md-4 mb-3 px-2">
                    <div class="gallery-card">
                      <div class="gallery-item inline-bg"
                      style="background-image: url(./img/gallery-1.jpg)" ></div>
                      <a href="#" class="gallery-item__inner">
                        <p class="gallery-item__name">Hanna & jack</p>
                        <p class="gallery-item__place">Breakers West Country Club</p>
                        <p class="gallery-item__date">05.30.2021</p>
                      </a>
                    </div>
                  </div>
                  <div class="col-6 col-md-4 mb-3 px-2">
                    <div class="gallery-card">
                      <div class="gallery-item inline-bg"
                      style="background-image: url(./img/gallery-1.jpg)" ></div>
                      <a href="#" class="gallery-item__inner">
                        <p class="gallery-item__name">Hanna & jack</p>
                        <p class="gallery-item__place">Breakers West Country Club</p>
                        <p class="gallery-item__date">05.30.2021</p>
                      </a>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-4 mb-3 px-2">
                    <div
                      class="gallery-item inline-bg"
                      style="background-image: url(./img/gallery-1.jpg)"
                    >
                    <div class="gallery-item__inner">
                      <a href="#" class="gallery-item__link">Hanna & jack
                        <span class="gallery-item__place">Breakers West Country Club</span>
                        <span class="gallery-item__date">05.30.2021</span>
                      </a>
                    </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-4 mb-3 px-2">
                    <div
                      class="gallery-item inline-bg"
                      style="background-image: url(./img/gallery-1.jpg)"
                    >
                    <div class="gallery-item__inner">
                      <a href="#" class="gallery-item__link">Hanna & jack
                        <span class="gallery-item__place">Breakers West Country Club</span>
                        <span class="gallery-item__date">05.30.2021</span>
                      </a>
                    </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-4 mb-3 px-2">
                    <div
                      class="gallery-item inline-bg"
                      style="background-image: url(./img/gallery-1.jpg)"
                    >
                      <div class="gallery-item__inner">
                        <a href="#" class="gallery-item__link">Hanna & jack
                          <span class="gallery-item__place">Breakers West Country Club</span>
                          <span class="gallery-item__date">05.30.2021</span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-4 mb-3 px-2">
                    <div
                      class="gallery-item inline-bg"
                      style="background-image: url(./img/gallery-1.jpg)"
                    >
                      <div class="gallery-item__inner">
                        <a href="#" class="gallery-item__link">Hanna & jack
                          <span class="gallery-item__place">Breakers West Country Club</span>
                          <span class="gallery-item__date">05.30.2021</span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-4 mb-3 px-2">
                    <div
                      class="gallery-item inline-bg"
                      style="background-image: url(./img/gallery-1.jpg)"
                    >
                      <div class="gallery-item__inner">
                        <a href="#" class="gallery-item__link">Hanna & jack
                          <span class="gallery-item__place">Breakers West Country Club</span>
                          <span class="gallery-item__date">05.30.2021</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.tabs-content -->
            <div class="tabs-content">
              <div class="gallery">
                <div class="row">
                  <div class="col-12 col-sm-6 col-md-4 mb-3 px-2">
                    <div
                      class="gallery-item inline-bg video"
                      style="background-image: url(./img/gallery-1.jpg)"
                    >
                      <a
                        data-fancybox
                        href="https://vimeo.com/407688388"
                        class="video__btn"
                      >
                        <span class="video-banner-btn">
                          <svg class="video-banner-btn__ic">
                            <use
                              xlink:href="./img/svg/sprite.svg#ic-arrow-right-primary"
                            />
                          </svg>
                        </span>
                        <!-- /.video-banner-btn -->
                      </a>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-4 mb-3 px-2">
                    <div
                      class="gallery-item inline-bg video"
                      style="background-image: url(./img/gallery-1.jpg)"
                    >
                      <a
                        data-fancybox
                        href="https://vimeo.com/407688388"
                        class="video__btn"
                      >
                        <span class="video-banner-btn">
                          <svg class="video-banner-btn__ic">
                            <use
                              xlink:href="./img/svg/sprite.svg#ic-arrow-right-primary"
                            />
                          </svg>
                        </span>
                        <!-- /.video-banner-btn -->
                      </a>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-4 mb-3 px-2">
                    <div
                      class="gallery-item inline-bg video"
                      style="background-image: url(./img/gallery-1.jpg)"
                    >
                      <a
                        data-fancybox
                        href="https://vimeo.com/407688388"
                        class="video__btn"
                      >
                        <span class="video-banner-btn">
                          <svg class="video-banner-btn__ic">
                            <use
                              xlink:href="./img/svg/sprite.svg#ic-arrow-right-primary"
                            />
                          </svg>
                        </span>
                        <!-- /.video-banner-btn -->
                      </a>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-4 mb-3 px-2">
                    <div
                      class="gallery-item inline-bg video"
                      style="background-image: url(./img/gallery-1.jpg)"
                    >
                      <a
                        data-fancybox
                        href="https://vimeo.com/407688388"
                        class="video__btn"
                      >
                        <span class="video-banner-btn">
                          <svg class="video-banner-btn__ic">
                            <use
                              xlink:href="./img/svg/sprite.svg#ic-arrow-right-primary"
                            />
                          </svg>
                        </span>
                        <!-- /.video-banner-btn -->
                      </a>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-4 mb-3 px-2">
                    <div
                      class="gallery-item inline-bg video"
                      style="background-image: url(./img/gallery-1.jpg)"
                    >
                      <a
                        data-fancybox
                        href="https://vimeo.com/407688388"
                        class="video__btn"
                      >
                        <span class="video-banner-btn">
                          <svg class="video-banner-btn__ic">
                            <use
                              xlink:href="./img/svg/sprite.svg#ic-arrow-right-primary"
                            />
                          </svg>
                        </span>
                        <!-- /.video-banner-btn -->
                      </a>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-4 mb-3 px-2">
                    <div
                      class="gallery-item inline-bg video"
                      style="background-image: url(./img/gallery-1.jpg)"
                    >
                      <a
                        data-fancybox
                        href="https://vimeo.com/407688388"
                        class="video__btn"
                      >
                        <span class="video-banner-btn">
                          <svg class="video-banner-btn__ic">
                            <use
                              xlink:href="./img/svg/sprite.svg#ic-arrow-right-primary"
                            />
                          </svg>
                        </span>
                        <!-- /.video-banner-btn -->
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.tabs-content -->
          </div>
          <!-- /.tabs -->
        </div>
        @@include("../blocks/components/banner/banner.html")
        @@include("../blocks/components/testimonials/testimonials.html")
      </div>
      @@include("../blocks/components/insta-block/insta-block.html")
    </main>

    @@include("../blocks/modules/footer/footer.html")

    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>
  </body>
</html>
