<!DOCTYPE html>
<html lang="en">
    @@include("../blocks/modules/head/head.html")
    <body>

        @@include("../blocks/modules/header/header.html")

        <main class="page page-main">
            @@include("../blocks/modules/home/home-banner.html")

            <div class="container">
                @@include("../blocks/components/video-banner/video-banner.html")
                @@include("../blocks/components/main-slider/main-slider.html")
                @@include("../blocks/components/about/about.html")
                @@include("../blocks/components/banner/banner.html")
                @@include("../blocks/components/testimonials/testimonials.html")
                @@include("../blocks/components/info-step-block/info-step-block.html")
                @@include("../blocks/components/info-block/info-block.html")
            </div>
            @@include("../blocks/components/faq/faq.html")
            @@include("../blocks/components/insta-block/insta-block.html")

        </main>

        @@include("../blocks/modules/footer/footer.html")

        <script src="js/main.js"></script>
        <script src="js/vendor.js"></script>
    </body>
</html>
