<!DOCTYPE html>
<html lang="en">
@@include("../blocks/modules/head/head.html")

<body>
    @@include("../blocks/modules/header/header.html")

    <main class="page contacts">
        <div class="container">

            <div class="page__item-gap">
                <div class="row">
                    <div class="col-12">
                        <div class="kindwords-hero">
                            <div class="kindwords-hero__row row">
                                <div class="kindwords-hero__images col-lg-5 p-5 d-flex align-items-start p-sm-2">
                                    <img class="kindwords-hero__image--1 px-5" src="../img/kindwords-1.png"
                                        alt="kindwords-1">
                                    <img class="kindwords-hero__image--2" src="../img/kindwords-2.png"
                                        alt="kindwords-2">
                                </div>
                                <div
                                    class="kindwords-hero__contet col-lg-7 p-5 d-flex align-items-start justify-content-center flex-column">
                                    <h3 class="kindwords-hero__title main-title pb-5 pb-lg-3 pb-sm-0">kind words</h3>
                                    <p class="kindwords-hero__text">
                                        Photographer can be truly proud of themselves and their work if what they have
                                        done has brought real happiness and joy
                                        to their clients.
                                    </p>
                                    <p class="kindwords-hero__text">
                                        We try to maintain our good reputation, so we approach each project with great
                                        enthusiasm and a lot of new interesting
                                        ideas. Our experts share their thoughts on organizing a photo session and also
                                        listen to the opinion of the couple. They
                                        take into account all the wishes of future newlyweds. This allows to make their
                                        work as comfortable and enjoyable as
                                        possible.
                                    </p>
                                    <p class="kindwords-hero__text">
                                        Deep respect, interest, openness and dedication to our work helps us receive a
                                        lot of positive feedback from satisfied
                                        customers.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="page__item-gap">
                <div class="row">
                    <div class="col-12">
                        <div class="kindwords-slider">


                            <div class="carousel js-kindwords-slider">
                                <div class="carousel-slider">

                                    <div class="carousel-slider__slide">
                                        <div class="kindwords-slider__card card-kindwords-slider">
                                            <img src="../img/kindwords-3.png" alt="hanna & jack"
                                                class="card-kindwords-slider__image" />
                                        </div>
                                    </div>

                                    <div class="carousel-slider__slide">
                                        <div class="kindwords-slider__card card-kindwords-slider">
                                            <img src="../img/kindwords-3.png" alt="hanna & jack"
                                                class="card-kindwords-slider__image" />
                                        </div>
                                    </div>

                                    <div class="carousel-slider__slide">
                                        <div class="kindwords-slider__card card-kindwords-slider">
                                            <img src="../img/kindwords-3.png" alt="hanna & jack"
                                                class="card-kindwords-slider__image" />
                                        </div>
                                    </div>

                                </div>

                                <div class="carousel-controls kindwords-carousel-controls">

                                    <button type="button"
                                        class="kindwords-carousel-controls__btn carousel-controls-btn carousel-controls-btn--prev">
                                        <svg class="carousel-controls-btn__ic">
                                            <use xlink:href="./img/svg/sprite.svg#ic-slider-arrow-prev"></use>
                                        </svg>
                                    </button>

                                    <button type="button"
                                        class="kindwords-carousel-controls__btn carousel-controls-btn carousel-controls-btn--next">
                                        <svg class="carousel-controls-btn__ic">
                                            <use xlink:href="./img/svg/sprite.svg#ic-slider-arrow-next"></use>
                                        </svg>
                                    </button>


                                </div>

                            </div>

                            <div class="kindwords-slider__content txt-center">
                                <p class="kindwords-slider__text">We have loved our experience with Vanilla Brides. We
                                    worked with photographer Maria and videographer Alex and loved them
                                    both. We have not received our photos yet, but the whole experience has been
                                    incredible. Maria went above and beyond to
                                    meet with us prior to the wedding and go over every detail she needed to capture
                                    what we were looking for. She even
                                    coordinated communication among our vendors so everyone was on the same page. We
                                    can't wait to see our photos and video
                                    and have no doubt that they will be absolutely perfect. Highly recommended to
                                    everyone!
                                </p>
                                <h3 class="kindwords-slider__title title p-4">hanna & jack</h3>
                                <a href="#" class="btn btn-outline kindwords-slider__btn">order reviews</a>
                            </div>



                        </div>
                    </div>
                </div>
            </div>

            <div class="page__item-gap">
                <section class="row justify-content-center">

                    <div
                        class=" mb-5 col-12 col-md-11 col-xl-10 txt-center d-flex flex-column d-md-block order-last order-md-0">

                        <h3 class="section-title mb-3">Let’s plan your photography session!</h3>

                        <div class="row txt-justify">
                            <div class="col-lg-6">
                                <p>
                                    If you are just preparing for your wedding and first of all decided to find a
                                    photographer, congratulations — you’ve
                                    come to the right place! During the consultation, our specialists will guide you in
                                    the right direction, help
                                    you plan a wedding route, determine the style of shooting, choose a place for a
                                    photo session and props. We provide
                                    competent recommendations and professional approach to business.
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <p>
                                    With Peony Luxe, no need to worry about anything. Instead, relax and
                                    enjoy your wedding day and each other! We will provide the necessary assistance in
                                    organizing the event. We are waiting
                                    for your first step
                                    on the way to 100% profitable cooperation with us!
                                </p>
                            </div>
                        </div>

                        <div class="mb-4 mt-md-3 order-first order-md-0">
                            <img width="1100" height="440" src="./img/kindwords-4.jpg"
                                alt="Let’s plan your photography session">
                        </div>
                    </div>

                </section>
            </div>


        </div>
    </main>

    @@include("../blocks/modules/footer/footer.html")

    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>
</body>

</html>