.album {
    text-align: center;
    &-main {
        &__img {
            width: 100%;
            max-height: 825px;
            object-fit: cover;
            object-position: left 37%;
            @media(min-width: 1500px) {
                object-position: left 30%;
            }
            @include media-breakpoint-down(xl) {
                object-position: left 42%;
            }
        }
    }
    &-block {
        &__subtitle {
            font-size: rem(18);
            line-height: 150%;
            letter-spacing: 10px;
            margin-top: 20px;
            &_thin {
                letter-spacing: 5px;
            }
        }
        &__descr {
            margin-top: 35px;
            margin-bottom: 35px;
            @include media-breakpoint-down(sm) {
                margin-top: 15px;
                margin-bottom: 15px;
            }
        }
    }
   

    .video-banner {
        border: none;
        box-shadow: none;
    }
}