<div class="page__item-gap">
  <section class="about">
    <div class="about__content">
      @@include('../decor-slogan/decor-slogan.html', {"size": "lg"})
      <img
        src="./img/about-photo.jpg"
        alt="About our company The work of our photographers"
      />
    </div>

    <div class="about__text">
      <h2 class="section-title mb-3">Peony Luxe: taste our luxurious offers</h2>
      <p class="js-read_more-block">
        People choose Peony Luxe wedding photography because Peony Luxe is the
        best luxury boutique atelier nationwide. We’ve been providing wedding
        videography services for over 10 years, with dedication and approach
        to every affiance as a unique event in the history of every family.
        <span class="read_more-content js-read_more-content"
          >We respect the attempts of people in arranging their special day,
          understanding they’d like to have the best services, making everything
          refined, elegant, and memorable. That’s our goal as well:
          at espousals, we embrace wedding photography and videography in full
          entirety, while not distracting newlyweds or their guests, allowing
          them to completely focus on their roles.

          <span class="d-block mt-2">
            We create artistic and refined pictures and videos, catching the
            legend of the evanescent moment. If our readers want to have the
            utmost professional wedding photography atelier, then choosing Peony
            Luxe would be an astounding solution to affiances, the same as ‘twas
            best for thousands of soon-to-be-spouses!
          </span>
        </span>
        <button class="read_more-btn js-read_more-btn">Read More</button>

      </p>

      <div class="about__deco">
        <span class="subtitle-decor me-5 me-md-0">memories</span>
      </div>
    </div>
  </section>
</div>
