<div class="page__item-gap">
  <section class="about">
    <div class="row">

      <div class="about__content col-12 col-md-5 d-flex justify-content-center order-1 order-md-0">
        <img src="./img/about-photo.jpg" alt="About our company The work of our photographers">
        <div class="about__deco">

          <div class="mt-md-4">
            @@include('../decor-slogan/decor-slogan.html', {"size": "lg"})
          </div>
    
          <span class="subtitle-decor me-5 me-md-0">memories</span>
    
        </div>
      </div>

      <div class="col-12 col-md-7">
        <h2 class="section-title mb-3">About our company</h2>
        <p>
          The work of our photographers can be described as a combination of artistic photography and photojournalism. The goal is to create beautifully designed images while maintaining the authenticity of the moments. With over 10 years of professional experience, we provide a wide range of photography services such as wedding photojournalism, wedding or engagement preparation, honeymoon and travel photography.
        </p>
        <p>
          The work of our photographers can be described as a combination of artistic photography and photojournalism. The goal is to create beautifully designed images while maintaining the authenticity of the moments. With over 10 years of professional experience, we provide a wide range of photography services such as wedding photojournalism, wedding or engagement preparation, honeymoon and travel photography.
        </p>
      </div>
      
    </div>
  </section>
</div>