.info-step {
  &-item {
    height: 740px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-down(md) {
      height: auto;
    }

    &-right {
      @include media-breakpoint-up(xl) {
        background: url("../img/bg-subtract-right.svg") no-repeat right /
        53%;
      }
      @include media-breakpoint-up(lg) {
        background: url("../img/bg-subtract-right.svg") no-repeat right /
        61%;
      }
      @include media-breakpoint-down(md) {
        margin-bottom: 60px;
      }
    }
    &-left {
      justify-content: space-between;

      @include media-breakpoint-up(lg) {
        background: url("../img/bg-subtract-left.svg") no-repeat left /
        48%;
      }

    }

    // &:not(:last-child) {
    //   padding-bottom: 200px;
    //   @include media-breakpoint-down(lg) {
    //     padding-bottom: 100px;
    //   }
    //   @include media-breakpoint-down(sm) {
    //     padding-bottom: 50px;
    //   }
    // }
    @include media-breakpoint-down(lg) {
      .extra_content-step {
        display: none;
      }
      #read_more-step {
        display: block;
        border: none;
        text-transform: lowercase;
        margin-left: auto;
        color: $grey-text;
        &:hover, 
        &:focus,
        &:focus-within {
          border: none;
          outline: none;
        }
      }
    }
    
    .read_more-step  {
      display: none;
    }
    
    .show-step {
       display: block !important;
    }


    p {
      &:last-child {
        margin-bottom: 0;
      }
    }

    &__picture {
      img {
        width: 400px;
        height: 550px;
        object-fit: cover;

        @include media-breakpoint-down(md) {
          width: 100%;
          height: auto;
          max-height: 360px;
        }
      }
    }


  }
}
