.info-step {
  &-item {
    height: 740px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-down(md) {
      height: auto;
    }

    &-right {
      @include media-breakpoint-up(xl) {
        background: url("../img/bg-subtract-right.svg") no-repeat 105%/56%;
      }
      @include media-breakpoint-up(lg) {
        background: url("../img/bg-subtract-right.svg") no-repeat 102%/60%;
      }
      @include media-breakpoint-down(md) {
        margin-bottom: 60px;
      }
    }
    &-left {
      justify-content: space-between;

      @include media-breakpoint-up(lg) {
        background: url("../img/bg-subtract-left.svg") no-repeat left / 48%;
      }
    }

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }

    &__picture {
      img {
        width: 440px;
        height: 550px;
        object-fit: cover;

        @include media-breakpoint-down(md) {
          width: 100%;
          height: auto;
          max-height: 360px;
        }
      }
    }
  }
}
