<div class="page__item-gap">
  <div class="info-step">

    <div class="row info-step-item info-step-item-right">  
      <div class="col-md-5  offset-xl-1 info-step-item__picture mb-3 mb-md-0">
        <img src="./img/step-1.jpg" alt="Florida and california wedding photography">
      </div>

      <div class="col-md-6 px-4 pe-5 d-flex info-step-item__ring">
        <div class="flex-column justify-content-center">
          
          <h3 class="section-title mb-3">WEDDING PHOTOGRAPHY &VIDEOGRAPHY SERVICES</h3>
          <p>Luxury wedding photography isn’t an everyday offer, so people might only have a loose idea of that in their heads, what it could include or how long our agency’s photographers would be present at the marriage. We invite our clients to take a look at our portfolio and become acquainted with our offers to make a reasonable choice of our luxurious service. </p>
          <p id="extra_content-step" class="extra_content-step"> Also, we willingly provide assistance in picking the correct service if there are any hesitations. Due to our vocational advice about wedding videography and photography, it will be possible to define the optimal number of photographers for any espousal, the number of hours of their work, and the set of other services optimal for a client </p>
          <button id="read_more-step" class="read_more-step">Read More</button>
        </div>
      </div>
    </div>

    <div class="row flex-md-row-reverse info-step-item info-step-item-left">
      <div class="col-md-5 offset-xl-1 info-step-item__picture mb-3 mb-md-0">
        <img src="./img/step-2.jpg" alt="Let's start planning your best day with our team">
      </div>
      
      <div class="col-md-6 px-md-4 ps-md-5 d-flex info-step-item__ring">
        <div class="flex-column justify-content-center ps-md-4">
          <h3 class="section-title mb-3">LET`S START PLANNING 
            YOUR BEST DAY</h3>

          <p>Thanks to the active participation in the one-of-a-kind day, our wedding videography agency will be able to create a holistic, powerful, and beautiful picture of the day (or several days, which is not a rare thing for modern affiances, especially those arranged in picturesque places in rural areas). We also can give vocational advice about the best ideas for taking pictures and videos considering the play of light and shade or background. Customers of Peony Luxe receive truly unforgettable, honest, and authentic pictures to remember that day for years to come.</p>
        </div>
        
      </div>
    </div>
    
  </div>
</div>
<!-- /.page__item-gap -->