<div class="page__item-gap">
  <div class="info-step">

    <div class="row info-step-item">  
      <div class="col-md-5 offset-md-1 info-step-item__picture mb-3 mb-md-0">
        <img src="./img/step-1.jpg" alt="Florida and california wedding photography">
      </div>

      <div class="col-md-5 offset-md-1 px-4 pe-5 d-flex info-step-item__ring">
        <div class="flex-column justify-content-center">
          
          <h3 class="section-title mb-3">Florida and california wedding photography</h3>
          <p>We are a team of wedding photographers based in Los Angeles. 
            We can get a glimpse into the lives of lovers at the beginning of their 
            greatest adventure. Together with our couples, we can create something beautiful, powerful, honest and authentic</p>
        </div>
      </div>
    </div>

    <div class="row flex-md-row-reverse info-step-item info-step-item--reverse">
      <div class="col-md-5 offset-md-1 info-step-item__picture mb-3 mb-md-0">
        <img src="./img/step-2.jpg" alt="Let's start planning your best day with our team">
      </div>
      
      <div class="col-md-5 px-md-4 ps-md-5 d-flex info-step-item__ring">
        <div class="flex-column justify-content-center ps-md-4">
          <h3 class="section-title mb-3">Let's start planning your best day with our team</h3>

          <p>A well thought out timeline is key for getting the best photos possible. A few months prior to your wedding we’ll be in touch over email with both you and your planner to collaborate on your wedding schedule to create the perfect custom timeline for your day. The venue and lighting are all taken into consideration to craft the ideal timeline for your day.</p>
        </div>
        
      </div>
    </div>
    
  </div>
</div>
<!-- /.page__item-gap -->