.read-more-btn {
  display: none;
  @include media-breakpoint-down(md) {
    display: block;
    border: none;
    text-transform: lowercase;
    margin-left: auto;
    color: $grey-text;
    &:hover,
    &:focus,
    &:focus-within {
      border: none;
      outline: none;
    }
  }
}
