.read_more-content {
  @include media-breakpoint-down(lg) {
    display: none !important;

    &.show {
      display: inline !important;
    }
  }
}

.read_more-btn {
  display: none;
  @include media-breakpoint-down(lg) {
    display: block;
    border: none;
    text-transform: lowercase;
    margin-left: auto;
    color: $grey-text;
    &:hover,
    &:focus,
    &:focus-within {
      border: none;
      outline: none;
    }
  }
}
