
<div class="page__item-gap">
  <section class="video-banner-block with-decor-slogan decor-slogan-right-bottom-corner decor-slogan-xl-hide ">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-11 col-xl-10 txt-center">

        <h2 class="section-title mb-3">We have the best photographers</h2>

        <div class="video-banner inline-bg mb-3 mb-md-4" style="background-image: url(./img/video-banner.jpg);">
          <a data-fancybox href="https://vimeo.com/407688388" class="video-banner__btn">
            <span class="video-banner-btn">
              <svg class="video-banner-btn__ic">
                <use xlink:href="./img/svg/sprite.svg#ic-arrow-right-primary" />
              </svg>
            </span>
            <!-- /.video-banner-btn -->
          </a>
        </div>

        <p>Every wedding is unique, exciting and full of emotions, and that's what we focus on. The shooting style creates images that reveal the fearsome expressions of love and devotion that you share. No security. Natural. Emotional. Treasured images for life make the wedding unforgettable. Every wedding is unique, exciting and full of emotions, and that's what we focus on. The shooting style creates images that reveal the fearsome expressions of love and devotion that you share. No security. Natural. Emotional. Treasured images for life make the wedding unforgettable. Every wedding is unique, exciting and full of emotions, and that's what we focus on. The shooting style creates images that reveal the fearsome expressions of love and devotion that you share. No security. Natural. Emotional. Treasured images for life make the wedding unforgettable.</p>

      </div>
    </div>

    @@include('../decor-slogan/decor-slogan.html', {"size": "lg"})
    
  </section>
</div>
<!-- /.page__item-gap -->