<div class="page__item-gap">
  <section
    class="
      video-banner-block
      with-decor-slogan
      decor-slogan-right-bottom-corner decor-slogan-xl-hide
    "
  >
    <div class="row justify-content-center">
      <div class="col-12 col-lg-11 col-xl-10">
        <h2 class="section-title mb-3 txt-center">Wedding photography and videographi</h2>

        <div
          class="video video-banner inline-bg mb-3 mb-md-4"
          style="background-image: url(./img/main/video-banner.jpeg)"
        >
          <a
            data-fancybox
            href="https://vimeo.com/407688388"
            class="video__btn"
          >
            <span class="video-banner-btn">
              <svg class="video-banner-btn__ic">
                <use xlink:href="./img/svg/sprite.svg#ic-arrow-right-primary" />
              </svg>
            </span>
            <!-- /.video-banner-btn -->
          </a>
        </div>

        <p>
         <span> Welcome to Peony Luxe, a luxury wedding atelier! We’re capable of doing exceptional pictures and videos of espousals and engagements. Through the years and generations, everyone would like to save and share emotions and unique moments of their marriage. A very special day requires many things to plan. Memorable, a very important thing is inviting vocational wedding photography. </span>
          <span  id="extra_content-video" class="extra_content-video"><span>Peony Luxe induces images and videos of luxurious level, underscoring the genuine emotions of the newlywed and all guests, capturing all unique moments, which shan’t be forgotten.</span>
          We have vocationally highlighted hundreds of luxurious espousals and engagements. Thus, addressing Peony Luxe’s vocational wedding photography is a superb decision!  </span>

          <button id="read_more-video" class="read_more-video">Read More</button>

        </p>

      </div>
    </div>

    @@include('../decor-slogan/decor-slogan.html', {"size": "lg"})
  </section>
</div>
<!-- /.page__item-gap -->
