.btn {
  @include button-reset();
  @include transition-colors();
  font-family: "Poppins", serif;
  text-align: center;
  letter-spacing: 2px;
  border-radius: rem(10);
  text-transform: uppercase;
  font-size: rem(14);
  min-width: rem(220);
  border: 1px solid $transparent;
  padding: rem(21);
  transition: all $transition;

  &:focus {
    outline: $peach;
  }

  @include sm-block {
    font-size: rem(10);
    padding: rem(14) rem(20);
  }
}

.btn-primary {
  background-color: $accent;
  color: $light-text-color;
  // box-shadow: $shadow-primary;
  @include media-breakpoint-down(sm) {
    &:hover {
      color: $accent;
      text-decoration: none;
    }
  }
  &:hover {
    text-decoration: none;
    background-color: $transparent;
    color: $accent;
    border-color: $accent;
  }
}

.btn-outline {
  &-mob {
    @include media-breakpoint-down(sm) {
      background-color: $transparent;
      color: $accent;
      border-color: $accent;
    }
  }
}

.show-more-btn {
  @include button-reset();
  font-family: "Poppins", serif;
  font-size: rem(14);
  text-align: center;
  line-height: 1.3;
  text-transform: uppercase;
  color: $grey-text;

  &:focus {
    outline: none;
  }
  &__ic {
    display: block;
    margin: 16px auto 0;
    width: 40px;
    height: 34px;
  }
}
