.main-slider-card {
  // .main-slider-card__item
  display: flex;
  flex-wrap: wrap;
  &__inner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__item {
    width: 33%;
    flex-grow: 1;
    background-color: $peach;
    overflow: hidden;
    position: relative;

    @include media-breakpoint-down(sm) {
      width: 50%;
    }

    &:before {
      content: "";
      display: block;
      padding-bottom: 92%;

      @include media-breakpoint-down(sm) {
        padding-bottom: 130%;
      }
    }

    &:nth-child(1) {
      border-radius: 0px 217px 0px 0px;
    }
    &:nth-child(2) {
      max-width: 420px;
      flex-grow: 0;
      background: #fef6f4;
      border-radius: 300px 300px 0px 0px;
    }
    &:nth-child(3) {
      border-radius: 217px 0px 0px 0px;
      @include media-breakpoint-down(sm) {
        border-radius: 0px;
        order: 1;
      }
    }

    &:nth-child(5) {
      max-width: 420px;
      flex-grow: 0;
    }

    &:last-child {
      order: 10;
    }
  }

  // .main-slider-card__title

  &__title {
    font-family: "Nanum", serif;
    font-size: rem(25);
    margin: 0;
    line-height: 1.3;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.04em;

    @include media-breakpoint-down(md) {
      font-size: rem(18);
    }

    @include media-breakpoint-down(sm) {
      font-size: rem(12);
    }
  }

  // .main-slider-card__title-md

  &__title-md {
    font-size: rem(20);
  }

  // .main-slider-card__link

  &__link {
    @extend .main-slider-card__title;
    @extend .main-slider-card__title-md;
    color: $main-text-color;

    &:hover {
      color: $main-text-color;
      text-decoration: none;

      &:after {
        transform: translateX(15px);
      }
    }

    &:after {
      content: "";
      display: block;
      height: 8px;
      width: 100%;
      background: url("../img/ic-long-arrow.svg") no-repeat center / contain;
    }

    //ic-long-arrow.svg
  }
}

.tabs-nav-btn {
  @extend .btn;
  min-width: auto;
  width: 100%;
  max-width: 220px;

  background-color: #e2beae;
  color: #ffffff;

  &:first-child {
    border-radius: 5px 0px 0px 5px;
  }
  &:last-child {
    border-radius: 0px 5px 5px 0px;
  }

  &--active {
    background-color: #fbf5f3;
    color: #dda288;
  }
}
