<div class="page__item-gap">
  <div class="tabs">
    <div class="tabs-nav mb-4 pb-3">
      <div class="row justify-content-center">
        <div class="col-12 col-md-4 d-flex justify-content-center">
          <button
            type="button"
            data-tab="0"
            class="js-tab-btn tabs-nav-btn tabs-nav-btn--active"
          >
            Photography
          </button>
          <button type="button" data-tab="1" class="js-tab-btn tabs-nav-btn">
            videography
          </button>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.tabs-nav -->
    <div class="tabs-content">
      <div class="carousel js-photo-slider">
        <div class="carousel-slider">
          <div class="carousel-slider__slide">
            <div class="main-slider-card">
              <div class="main-slider-card__item">
                <div class="main-slider-card__inner">
                  <img src="./img/main-slider-1.jpg" alt="" />
                </div>
              </div>

              <div class="main-slider-card__item">
                <div class="main-slider-card__inner">
                  <p class="main-slider-card__title">LAURa & jack</p>
                </div>
              </div>
              <div class="main-slider-card__item">
                <div class="main-slider-card__inner">
                  <img src="./img/main-slider-2.jpg" alt="" />
                </div>
              </div>
              <div class="main-slider-card__item">
                <div class="main-slider-card__inner">
                  <p class="main-slider-card__title main-slider-card__title-md">
                    romantic style
                  </p>
                </div>
              </div>
              <div class="main-slider-card__item">
                <div class="main-slider-card__inner">
                  <img src="./img/main-slider-3.jpg" alt="" />
                </div>
              </div>

              <div class="main-slider-card__item">
                <div class="main-slider-card__inner">
                  <a href="" class="main-slider-card__link">price</a>
                </div>
              </div>
            </div>
            <!-- /.main-slider-card -->
          </div>
          <div class="carousel-slider__slide">
            <div class="main-slider-card">
              <div class="main-slider-card__item">
                <div class="main-slider-card__inner">
                  <img src="./img/main-slider-1.jpg" alt="" />
                </div>
              </div>

              <div class="main-slider-card__item">
                <div class="main-slider-card__inner">
                  <p class="main-slider-card__title">LAURa palmer</p>
                </div>
              </div>
              <div class="main-slider-card__item">
                <div class="main-slider-card__inner">
                  <img src="./img/main-slider-2.jpg" alt="" />
                </div>
              </div>
              <div class="main-slider-card__item">
                <div class="main-slider-card__inner">
                  <p class="main-slider-card__title main-slider-card__title-md">
                    romantic style
                  </p>
                </div>
              </div>
              <div class="main-slider-card__item">
                <div class="main-slider-card__inner">
                  <img src="./img/main-slider-3.jpg" alt="" />
                </div>
              </div>

              <div class="main-slider-card__item">
                <div class="main-slider-card__inner">
                  <a href="" class="main-slider-card__link">price</a>
                </div>
              </div>
            </div>
            <!-- /.main-slider-card -->
          </div>
        </div>

        <div class="row justify-content-between mt-3 mt-md-4 pt-2 pt-md-3">
          <div class="col-12 col-md-auto mb-4 mb-mc-0">
            <div class="carousel-controls">
              <button
                type="button"
                class="carousel-controls-btn carousel-controls-btn--prev"
              >
                <svg class="carousel-controls-btn__ic">
                  <use
                    xlink:href="./img/svg/sprite.svg#ic-slider-arrow-prev"
                  ></use>
                </svg>
              </button>

              <span
                class="
                  js-counter-current
                  carousel-controls-counter carousel-controls-counter--current
                "
                >00</span
              >

              <div class="carousel-controls-dots"></div>

              <span
                class="
                  js-counter-total
                  carousel-controls-counter carousel-controls-counter--total
                "
                >00</span
              >

              <button
                type="button"
                class="carousel-controls-btn carousel-controls-btn--next"
              >
                <svg class="carousel-controls-btn__ic">
                  <use
                    xlink:href="./img/svg/sprite.svg#ic-slider-arrow-next"
                  ></use>
                </svg>
              </button>
            </div>
          </div>
          <div
            class="
              col-12 col-md-auto
              d-flex
              justify-content-center
              align-items-start
            "
          >
            <a class="btn btn-primary btn-primary--shadow-none" href="#"
              >view more</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- /.tabs-content -->
    <div class="tabs-content">
      <div class="carousel js-video-slider">
        <div class="carousel-slider">
          <div class="carousel-slider__slide">
            <div
              class="video video-slider-card inline-bg"
              style="background-image: url(./img/main-slider-4.jpg)"
            >
              <a
                data-fancybox
                href="https://vimeo.com/407688388"
                class="video__btn"
              >
                <span class="video-banner-btn">
                  <svg class="video-banner-btn__ic">
                    <use
                      xlink:href="./img/svg/sprite.svg#ic-arrow-right-primary"
                    />
                  </svg>
                </span>
                <!-- /.video-banner-btn -->
              </a>
            </div>
          </div>
          <div class="carousel-slider__slide">
            <div
              class="video video-slider-card inline-bg"
              style="background-image: url(./img/main-slider-4.jpg)"
            >
              <a
                data-fancybox
                href="https://vimeo.com/407688388"
                class="video__btn"
              >
                <span class="video-banner-btn">
                  <svg class="video-banner-btn__ic">
                    <use
                      xlink:href="./img/svg/sprite.svg#ic-arrow-right-primary"
                    />
                  </svg>
                </span>
                <!-- /.video-banner-btn -->
              </a>
            </div>
          </div>
          <div class="carousel-slider__slide">
            <div
              class="video video-slider-card inline-bg"
              style="background-image: url(./img/main-slider-4.jpg)"
            >
              <a
                data-fancybox
                href="https://vimeo.com/407688388"
                class="video__btn"
              >
                <span class="video-banner-btn">
                  <svg class="video-banner-btn__ic">
                    <use
                      xlink:href="./img/svg/sprite.svg#ic-arrow-right-primary"
                    />
                  </svg>
                </span>
                <!-- /.video-banner-btn -->
              </a>
            </div>
          </div>
        </div>

        <div class="row justify-content-between mt-3 mt-md-4 pt-2 pt-md-3">
          <div class="col-12 col-md-auto mb-4 mb-mc-0">
            <div class="carousel-controls">
              <button
                type="button"
                class="carousel-controls-btn carousel-controls-btn--prev"
              >
                <svg class="carousel-controls-btn__ic">
                  <use
                    xlink:href="./img/svg/sprite.svg#ic-slider-arrow-prev"
                  ></use>
                </svg>
              </button>

              <span
                class="
                  js-counter-current
                  carousel-controls-counter carousel-controls-counter--current
                "
                >00</span
              >

              <div class="carousel-controls-dots"></div>

              <span
                class="
                  js-counter-total
                  carousel-controls-counter carousel-controls-counter--total
                "
                >00</span
              >

              <button
                type="button"
                class="carousel-controls-btn carousel-controls-btn--next"
              >
                <svg class="carousel-controls-btn__ic">
                  <use
                    xlink:href="./img/svg/sprite.svg#ic-slider-arrow-next"
                  ></use>
                </svg>
              </button>
            </div>
          </div>
          <div
            class="
              col-12 col-md-auto
              d-flex
              justify-content-center
              align-items-start
            "
          >
            <a class="btn btn-primary btn-primary--shadow-none" href="#"
              >view more</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.tabs -->
</div>
