<div class="page__item-gap">
  <section class="row justify-content-center">

    <div class=" mb-5 col-12 col-md-11 col-xl-10 txt-center d-flex flex-column d-md-block order-last order-md-0">

      <h3 class="section-title mb-3">What we do</h3>

      <div class="mb-4 mb-md-3 order-first order-md-0 info-block-img-deco">
        <span class="subtitle-decor mb-4 d-sm-none">memories</span>
        <div class="with-decor-slogan decor-slogan-right-top-corner decor-slogan-mob-show">
        <picture >
          <source  width="190" height="240" srcset="./img/info-wthat-we-do_m.jpg" media="(max-width: 600px)">
          <img  src="./img/info-wthat-we-do.jpg" alt="WHAT WE DO">
        </picture>
        @@include('../decor-slogan/decor-slogan.html', {"size": "lg"})
      </div>

    </div>
    
    <p>It's an incredible privilege to be invited to tell the inspiring stories of couples who've found home in each other. We get to peek inside the lives of lovers at the beginning of their greatest adventure, and together, we get to create something beautiful, powerful, honest and authentic. We're less about frills and perfection, or how two people in love should look or act... we're all about how your love actually feels. The real stuff, the in-betweens. Whatever it is that makes you two, you. It's an incredible privilege to be invited to tell the inspiring stories of couples who've found home in each other. We get to peek inside the lives of lovers at the beginning of their greatest adventure, and together, we get to create something beautiful, powerful, honest and authentic. We're less about frills and perfection, or how two people in love should look or act... we're all about how your love actually feels. </p>
    </div>

    <div class="pt-md-5 col-md-12">
      <div class="row">
        <div class="col-12 col-md-6 align-self-center align-self-lg-auto col-lg-4 col-xl-3 mt-md-4 order-1 order-md-0 mb-3 mb-lg-0">
          <h3 class="section-title">We are happy to be a part of your day</h3>
        </div>
      
        <div class="col-12 col-md-6 col-lg-4 col-xl-5 mb-4 mb-lg-0">
          <img class="w-100" width="440"  height="425" src="./img/info-wthat-we-do-2.jpg" alt="We are happy to be a part of your day">
        </div>
      
        <div class="col-12 col-lg-4 ps-xl-0 order-2 order-md-0">
      
          <div class="flex-column d-none d-lg-flex">
            <div class="ms-5">
              @@include('../decor-slogan/decor-slogan.html', {"size": "lg"})
            </div>
            <span class="subtitle-decor ms-auto mb-5">memorable</span>
          </div>
      
          <p>
            Each wedding is unique, exciting and full of emotions, and we focus on the emotions. Our shooting style creates images that reveal the fearsome expressions of love and devotion you share. No security. Natural. Emotional. Treasured images for life.
          </p>
        </div>
      </div>
    </div>

  </section>
</div>
<!-- /.page__item-gap -->