<div class="page__item-gap">
  <section class="row justify-content-center">

    <div class=" col-12 col-lg-10 txt-center d-flex flex-column d-md-block">

      <h3 class="section-title mb-3">You have found the best photography & videography agency for the wedding!</h3>

      <div class="mb-4 mb-md-3 order-first order-md-0 info-block-img-deco">
          <img  src="../img/info-wthat-we-do-2.jpeg" alt="WHAT WE DO">
      </div>
      <div class="info-block__text js-read_more-block">
        <p>Our premium work is always centered on the clients, so they won’t have to chase us, trying to find out the details. It is our direct interest and responsibility to discuss everything beforehand, pick a proper package specifically for the espousal, and to agree on things to make this day perfect and as hassle-free as possible. </p>
        <p class="read_more-content js-read_more-content">We thank our clients for choosing us to become their luxurious storytellers, wherever an event would have occurred — locally, domestically, or worldwide. A special day is special for our client no less than it is special for us, so we will take every aspect of it with utmost responsibility, not forgetting to capture the entire essence and fun of the event. Have any questions or issues left? We’re happy to discuss them to make sure the engagement or wedding is in great hands!</p>
        <button class="read_more-btn js-read_more-btn">Read More</button>
  
        </div>
    </div>
    

    </div>

    <div class="page__item-gap pt-md-5 col-md-12 info-block-happy" >
      <div class="row">
        <div class="col-12  align-self-center align-self-lg-auto col-md-4 col-xl-3 mt-md-4 order-1 order-md-0 mb-3 mb-lg-0">
          <h3 class="section-subtitle">Our wedding photographers are happy to be a part of your day</h3>
        </div>
      
        <div class="col-12  col-md-4 col-xl-5 mb-4 mb-lg-0">
          <img src="./img/info-wthat-we-do-2.jpg" alt="We are happy to be a part of your day">
        </div>
      
        <div class="col-12 col-md-4 ps-xl-0 order-2 order-md-0">
      
          <div class="flex-column d-md-flex">
            <div class="">
              @@include('../decor-slogan/decor-slogan.html', {"size": "lg"})
            </div>
            <span class="subtitle-decor ms-auto mb-5">memorable</span>
          </div>
      
          <p>
            Each wedding is unique, exciting and full of emotions, and we focus on the emotions. Our shooting style creates images that reveal the fearsome expressions of love and devotion you share. No security. Natural. Emotional. Treasured images for life.
          </p>
        </div>
      </div>
    </div>

  </section>
</div>
<!-- /.page__item-gap -->