.footer {
  position: relative;
  background-color: $peach;
  padding: 74px 80px;
  font-size: 12px;
  color: #949da1;
  margin: 15px 0;
  @include media-breakpoint-down(lg) {
    text-align: center;
    padding: 40px;
  }
  @include media-breakpoint-down(sm) {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    text-align: center;
  }

  &:after,
  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    border-top: 1px solid #cecece;
  }

  &:before {
    top: -15px;
  }

  &:after {
    bottom: -15px;
  }

  a:not([class]) {
    color: inherit;
  }
  &-logo {
    width: 92px;
    height: 97px;
    img {
      width: 100%;
    }
    @include media-breakpoint-down(lg) {
      margin: 0 auto 30px;
    }
  }
  &-bottom {
    margin-top: 40px;
    list-style-type: none;
    a {
      font-size: 12px;
      line-height: 18px;
      color: rgba(100, 110, 115, 0.8);
      font-weight: 300;
      @include media-breakpoint-down(lg) {
        margin-bottom: 20px;
        display: block;
      }
    }
    .row {
      @include media-breakpoint-down(lg) {
          flex-direction: column-reverse;
      }
    }
  }
  .tel-link {
    margin-bottom: 40px;
    @include media-breakpoint-down(lg) {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }
  }
}

.footer-nav {
  color: $grey-text;
  font-size: 14px;
  text-transform: uppercase;
  &__title {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 20px;
    @include media-breakpoint-down(lg) {
text-align: center;
    }
  }

  ul {
    column-count: 2;
    column-gap: 0px;

    li {
      font-weight: 300;
      font-size: 12px;
      line-height: 18px;
      color: rgba(100, 110, 115, 0.8);
      &:not(:last-child) {
        margin-bottom: 5px;
      }

    }
    @include media-breakpoint-down(lg) {
      column-gap: 50px
    }
    @include media-breakpoint-down(sm) {
      column-gap: 20px

    }
}
@include media-breakpoint-down(lg) {
  text-align: left;
  max-width: 280px;
  margin: 0 auto 40px;
}

}