<section class="page__item-gap">
  <div class="row pb-4">
    <div class="col-12 col-xl-11 offset-xl-1">

      <div class="row justify-content-between align-items-center mb-3 mb-xl-4 pb-1 pb-xl-3">
        <div class="col-12 col-xl-4">
          <h2 class="section-title mb-2 mb-md-3">Testimonials</h2>
          <p class="m-0">read what clients have to say about our photographers and videographers</p>
        </div>

        <div class="col-auto d-none d-xl-block">
          @@include('../decor-slogan/decor-slogan.html', {"size": "lg"})
        </div>
      </div>

      <div class="carousel js-testimonial-slider">
        <div class="carousel-slider">
          <div class="carousel-slider__slide">

            <div class="testimonial-card">
              <div class="testimonial-card__picture">
                <img src="./img/testimonials-2.jpg" alt="testimonial laura & jack">
              </div>

              <div class="testimonial-card__content">
                <div class="testimonial-card__date">25.05.2021</div>
                <div class="testimonial-card__title">LAURa & jack</div>
                <p>
                  It's hard for me to find words, how happy that you are our wedding photographers! It was very easy and comfortable with you on your wedding day, all the guests noted your professionalism!
                  We did a lot of things, came up with a wedding ...
                </p>
                <div class="testimonial-card__action">
                  <a href="#" class="testimonial-card__link">Read more</a>
                </div>
              </div>
            </div>

          </div>
          <div class="carousel-slider__slide">

            <div class="testimonial-card">
              <div class="testimonial-card__picture">
                <img src="./img/testimonials-1.jpg" alt="testimonial laura & jack">
              </div>

              <div class="testimonial-card__content">
                <div class="testimonial-card__date">25.05.2021</div>
                <div class="testimonial-card__title">LAURa & jack</div>
                <p>
                  It's hard for me to find words, how happy that you are our wedding photographers! It was very easy and comfortable with you on your wedding day, all the guests noted your professionalism!
                  We did a lot of things, came up with a wedding ...
                </p>
                <div class="testimonial-card__action">
                  <a href="#" class="testimonial-card__link">Read more</a>
                </div>
              </div>
            </div>

          </div>
          <div class="carousel-slider__slide">

            <div class="testimonial-card">
              <div class="testimonial-card__picture">
                <img src="./img/testimonials-2.jpg" alt="testimonial laura & jack">
              </div>

              <div class="testimonial-card__content">
                <div class="testimonial-card__date">25.05.2021</div>
                <div class="testimonial-card__title">LAURa & jack</div>
                <p>
                  It's hard for me to find words, how happy that you are our wedding photographers! It was very easy and comfortable with you on your wedding day, all the guests noted your professionalism!
                  We did a lot of things, came up with a wedding ...
                </p>
                <div class="testimonial-card__action">
                  <a href="#" class="testimonial-card__link">Read more</a>
                </div>
              </div>
            </div>

          </div>
          <div class="carousel-slider__slide">

            <div class="testimonial-card">
              <div class="testimonial-card__picture">
                <img src="./img/testimonials-1.jpg" alt="testimonial laura & jack">
              </div>

              <div class="testimonial-card__content">
                <div class="testimonial-card__date">25.05.2021</div>
                <div class="testimonial-card__title">LAURa & jack</div>
                <p>
                  It's hard for me to find words, how happy that you are our wedding photographers! It was very easy and comfortable with you on your wedding day, all the guests noted your professionalism!
                  We did a lot of things, came up with a wedding ...
                </p>
                <div class="testimonial-card__action">
                  <a href="#" class="testimonial-card__link">Read more</a>
                </div>
              </div>
            </div>

          </div>
          <div class="carousel-slider__slide">

            <div class="testimonial-card">
              <div class="testimonial-card__picture">
                <img src="./img/testimonials-2.jpg" alt="testimonial laura & jack">
              </div>

              <div class="testimonial-card__content">
                <div class="testimonial-card__date">25.05.2021</div>
                <div class="testimonial-card__title">LAURa & jack</div>
                <p>
                  It's hard for me to find words, how happy that you are our wedding photographers! It was very easy and comfortable with you on your wedding day, all the guests noted your professionalism!
                  We did a lot of things, came up with a wedding ...
                </p>
                <div class="testimonial-card__action">
                  <a href="#" class="testimonial-card__link">Read more</a>
                </div>
              </div>
            </div>

          </div>
          <div class="carousel-slider__slide">

            <div class="testimonial-card">
              <div class="testimonial-card__picture">
                <img src="./img/testimonials-1.jpg" alt="testimonial laura & jack">
              </div>

              <div class="testimonial-card__content">
                <div class="testimonial-card__date">25.05.2021</div>
                <div class="testimonial-card__title">LAURa & jack</div>
                <p>
                  It's hard for me to find words, how happy that you are our wedding photographers! It was very easy and comfortable with you on your wedding day, all the guests noted your professionalism!
                  We did a lot of things, came up with a wedding ...
                </p>
                <div class="testimonial-card__action">
                  <a href="#" class="testimonial-card__link">Read more</a>
                </div>
              </div>
            </div>

          </div>
          <div class="carousel-slider__slide">

            <div class="testimonial-card">
              <div class="testimonial-card__picture">
                <img src="./img/testimonials-2.jpg" alt="testimonial laura & jack">
              </div>

              <div class="testimonial-card__content">
                <div class="testimonial-card__date">25.05.2021</div>
                <div class="testimonial-card__title">LAURa & jack</div>
                <p>
                  It's hard for me to find words, how happy that you are our wedding photographers! It was very easy and comfortable with you on your wedding day, all the guests noted your professionalism!
                  We did a lot of things, came up with a wedding ...
                </p>
                <div class="testimonial-card__action">
                  <a href="#" class="testimonial-card__link">Read more</a>
                </div>
              </div>
            </div>

          </div>

        </div>

        <div class="carousel-controls">

          <button type="button" class="carousel-controls-btn carousel-controls-btn--prev">
            <svg class="carousel-controls-btn__ic">
              <use xlink:href="./img/svg/sprite.svg#ic-slider-arrow-prev"></use>
            </svg>
          </button>

          <span class="js-counter-current carousel-controls-counter carousel-controls-counter--current">01</span>

          <div class="carousel-controls-dots"></div>

          <span class="js-counter-total carousel-controls-counter carousel-controls-counter--total">07</span>

          <button type="button" class="carousel-controls-btn carousel-controls-btn--next">
            <svg class="carousel-controls-btn__ic">
              <use xlink:href="./img/svg/sprite.svg#ic-slider-arrow-next"></use>
            </svg>
          </button>


        </div>

      </div>


    </div>
  </div>
</section>