h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

.helper {
  outline: 1px dotted deeppink;
  & > * {
    outline: 1px dotted blue;
    & > * {
      outline: 1px dotted green;
      & > * {
        outline: 1px dotted red;
        & > * {
          outline: 1px dotted red;
        }
      }
    }
  }
}
html {
  font-size: ($root-font-size / 16px) * 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  color: $main-text-color;
  background: $primary-bg-color;
  font-family: "Poppins", serif;
  padding-top: rem(130);
  padding-bottom: rem(130);
  font-size: rem(14);
  line-height: 1.7;
  overflow-x: hidden;
  @media screen and (max-width: 950px) {
    padding-top: rem(100);
    padding-bottom: rem(100);
  }

  @include media-breakpoint-down(sm) {
    font-size: rem(12);
    padding-top: rem(60);
    padding-bottom: rem(60);
  }

  header {
    flex: 0 0 auto;
  }
  main {
    flex: 1 0 auto;
  }

  footer {
    flex: 0 0 auto;
  }
}

.scrolled {
  overflow: hidden;
}

.link {
  font-size: inherit;
  color: inherit;
  text-decoration: underline;

  &:hover {
    color: $hover-text-color;
  }
}

.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}

.inline-bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.line-through {
  text-decoration: line-through;
}

.horizontal-scroll-wrapper {
  flex-direction: column;
  transform: rotate(-90deg) translateY(-100px);
  transform-origin: right top;

  & > div {
    transform: rotate(90deg);
    transform-origin: right top;
  }
}

.primary-link {
  color: $accent;

  &:hover {
    color: $accent;
  }
}

.carousel-controls {
  display: flex;
  align-items: center;
  @include media-breakpoint-down(md) {
    justify-content: center;
  }
  &-btn {
    @include button-reset();
    background: $transparent;
    color: $transparent;
    width: 60px;
    height: 60px;
    &__ic {
      fill: $transparent !important;
      width: 60px;
      height: 60px;
    }

    &:hover {
      opacity: 0.4;
    }

    &:focus {
      outline: $transparent;
      box-shadow: none;
    }

    &.slick-disabled,
    &--disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }
  }
  //.carousel-controls-btn

  &-dots {
    // padding: 0 10px;
    display: flex;
    align-items: center;
    .slick-dots {
      position: static;
      bottom: 0;
      display: flex;
      align-items: center;
      @include media-breakpoint-down(sm) {
        width: 130px;
      }
      li {
        margin: 0;
        padding: 0;
        width: auto;
        flex: 1;
        display: flex;
        align-items: center;
        @include media-breakpoint-up(sm) {
          width: 33px;
          flex-shrink: 0;
        }
        button {
          @include button-reset();
          font-size: 0;
          height: 2px;
          width: auto;
          flex: 1;
          background-color: #646e73;
          opacity: 0.2;
          @include media-breakpoint-up(sm) {
            width: 33px;
            flex-shrink: 0;
          }
          &::before {
            content: none;
          }
        }

        // button {
        //   // @include hover {
        //   //   &::before {
        //   //     color: #070707;
        //   //   }
        //   // }
        // }

        &.slick-active {
          button {
            background-color: $accent;
            opacity: 1;
          }
        }
      }
    }
  }

  &-counter {
    color: $grey-text;
    font-size: 12px;

    &--current {
      padding: 0 10px 0 15px;
    }

    &--total {
      padding: 0 15px 0 10px;
    }
  }
}

.post-nav {
  &-item {
    display: flex;
    align-items: center;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 10px;
  }
}
